<div class="container">
  <%= render "shared/flash_message" %>
  <div class="row">
    <div class="col-8">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-4 mt-5 text-right">
      <%= link_to "カートを空にする", destroy_all_cart_products_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当にカートを空にしますか？" } %>
    </div>
  </div>
  <div class="row mt-4">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th class="text-center">商品名</th>
          <th class="text-center">単価(税込)</th>
          <th class="text-center">数量</th>
          <th class="text-center">小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_products.each do |cart_product| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_product.product, :image, :fill, 70, 50, format: "jpeg" %>
              <%= cart_product.product.name %>
            </td>
            <td class="text-center">
              <%= cart_product.product.tax_price.to_s(:delimited) %>
            </td>
            <td class="text-center">
              <%= form_with model: cart_product, local: true do |f| %>
                <%= f.select :quantity, (1..9) %>
                <%= f.submit "変更", class: "btn btn-success ml-2" %>
              <% end %>
            </td>
            <td class="text-center">
              <%= (cart_product.product.tax_price * cart_product.quantity).to_s(:delimited) %>
            </td>
            <td class="text-center">
              <%= link_to "削除する", cart_product_path(cart_product), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-9">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              合計金額
            </td>
            <td class="text-center">
              <%= @total_price.to_s(:delimited) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success w-25" %>
    </div>
  </div>
</div>
