 <!--部分テンプレートにより、@product ➩ product-->
  <%= form_with model: [:admin, product], local:true do |f| %>
  <%= render 'shared/form_error', model: product %>
    <div class="row">
      <div class="col-md-8 offset-md-3">

        <div class="form-group form-inline pl-3">
          <p class="mr-4">商品画像</p>
          <div class="ml-5"><%= f.attachment_field :image %></div>
        </div>

        <div class="form-group form-inline">
        　<p class="mr-4 pr-3">商品名</p>
          <div class="ml-5"><%= f.text_field :name, placeholder: "商品名を記述して下さい", size: "30" %></div>
        </div>

        <div class="form-group form-inline">
        　<p class="mr-4">商品説明</p>
          <div class="ml-5"><%= f.text_area :introduction, placeholder: "こちらに商品の説明文を記述して下さい", size: "30x5" %></div>
        </div>

        <div class="form-group form-inline">
        　<p class="mr-4">ジャンル</p>
          <div class="ml-5"><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--", size: "30" %></div>
        </div>

        <div class="form-group form-inline">
        　<p class="mr-4">税抜価格</p>
          <p class="ml-5"><%= f.text_field :price, placeholder: "商品の税別価格を記述して下さい", size: "30" %> 円</p>
        </div>

        <div class="form-group form-inline">
        　<p class="mr-4">販売ステータス</p>
        　<%= f.radio_button :is_active, :true %>
        　<%= f.label :is_active, "販売中" %>
        　<%= f.radio_button :is_active, :false %>
        　<%= f.label :is_active, "販売停止中" %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-6">
        <% if product.id.nil? %>
        <%= f.submit '新規登録', class:"btn btn-sm btn-success" %>
        <% else %>
        <%= f.submit "  変更を保存  ", class: 'btn btn-light btn-sm' %>
        <% end %>
      </div>
    </div>
  <% end %>