<div class="container">
  <%= render "shared/flash_message" %>
  <div class="row pt-2">
    <div class="col-9">
      <h2>商品一覧</h2>
    </div>
    <div class="col-3 text-right">
      <%= link_to new_admin_product_path, class: "btn btn-info rounded-circle" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税別価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= link_to product.name, admin_product_path(product.id) %></td>
              <td><%= product.price %></td>
              <td><%= product.genre.name %></td>
              <td>
                <% if product.is_active %>
                  <span class="text-success">販売中</span>
                <% else %>
                  <span class="text-secondary">販売停止中</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="mx-auto">
      <%= paginate @products %>
    </div>
  </div>
</div>