<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-2">
      <% if controller.class.parent.name == "Admin" %>
        <%# Admin側のヘッダー %>
        <%= render "admin/shared/header" %>
      <% else %>
        <%# Public側のヘッダー %>
        <%= render "public/shared/header" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
